.profile_host {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #FF6060;
}

.profile_host h3 {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    text-align: end;
}

.profile_host img {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 50%;
    padding-left: 10px;
}