.about {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 50px 100px;

}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin: 30px 108px;
}

.descriptionContainer {
    border-radius: 5px;

}

.descriptionTitle {
    color: #fff;
    font-size: 18px;
    padding: 12px;
    margin: 0;
    z-index: 5;
    position: absolute;
}


section div {
    width: 100%;
}
