*,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background: #FFF;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  height: 340px;
}
@media (max-width: 767px) {
  .card {
    height: 225px;
  }
}
.card img {
  object-fit: cover;
  object-position: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  flex-shrink: 1;
  /*filter: contrast(60%);*/
}
.card h2 {
  position: absolute;
  z-index: 1;
  padding: 20px 50px 20px 20px;
  font-size: 18px;
  color: #FFF;
  margin: 0;
}

.hero-image {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  .hero-image {
    justify-content: flex-start;
  }
}
.hero-image img {
  object-fit: cover;
  width: 100%;
  height: 223px;
  border-radius: 25px;
  filter: contrast(60%);
}
@media (max-width: 767px) {
  .hero-image img {
    height: 111px;
    border-radius: 10px;
  }
}
.hero-image h1 {
  position: absolute;
  font-size: 48px;
  font-weight: 500;
  color: #FFF;
}
@media (max-width: 1024px) {
  .hero-image h1 {
    font-size: 36px;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .hero-image h1 {
    font-size: 24px;
    text-align: start;
    padding-left: 16px;
  }
}

.collapse {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.collapse button {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  height: 52px;
  position: relative;
  z-index: 1;
  background-color: #FF6060;
  border: none;
  border-radius: 5px;
  margin: 0;
  text-align: start;
  cursor: pointer;
  width: 100%;
}
@media (max-width: 1024px) {
  .collapse button {
    padding: 0;
    height: 40px;
  }
}
@media (max-width: 767px) {
  .collapse button {
    height: 30px;
  }
}
.collapse button .collapse-icon {
  height: 20px;
  position: absolute;
  padding: 0 20px;
  align-self: flex-end;
}
@media (max-width: 1024px) {
  .collapse button .collapse-icon {
    height: 13px;
  }
}
@media (max-width: 767px) {
  .collapse button .collapse-icon {
    height: 10px;
  }
}
.collapse button .collapse-icon__close {
  transform: rotate(180deg);
  transition: transform 470ms linear;
}
.collapse button .collapse-icon__open {
  transform: rotate(0deg);
  transition: transform 470ms linear;
}
.collapse .collapse-content {
  transition: height 470ms;
  box-sizing: border-box;
  color: #FF6060;
}
.collapse .collapse-content p {
  background-color: #F6F6F6;
  border-radius: 0 0 5px 5px;
  padding: 20px;
  font-size: 18px;
  font-weight: 400;
}
@media (max-width: 1024px) {
  .collapse .collapse-content p {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .collapse .collapse-content p {
    font-size: 12px;
  }
}
.collapse .collapse-content ul {
  background-color: #F6F6F6;
  border-radius: 0 0 5px 5px;
  margin: 0;
  padding: 20px;
}
@media (max-width: 1024px) {
  .collapse .collapse-content ul {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .collapse .collapse-content ul {
    font-size: 12px;
  }
}
.collapse .collapse-content ul li {
  list-style: none;
}

@keyframes inAnimation {
  0% {
    opacity: 0;
    height: 0px;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
    height: 110px;
  }
}
@keyframes outAnimation {
  0% {
    opacity: 1;
    max-height: 150px;
  }
  40% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    max-height: 0px;
  }
}
.carouselImage {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 415px;
  border-radius: 25px;
  margin-bottom: 24px;
  margin-top: 8px;
}
@media (max-width: 767px) {
  .carouselImage {
    height: 255px;
  }
}
.carouselImage .arrow {
  position: absolute;
  z-index: 1;
  height: 110px;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .carouselImage .arrow {
    height: 50px;
    margin: 10px;
  }
}
@media (max-width: 767px) {
  .carouselImage .arrow {
    height: 24px;
  }
}
.carouselImage .arrow.arrow-left {
  left: -8px;
}
.carouselImage .arrow.arrow-right {
  right: -8px;
}
.carouselImage .slideActive {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
@media (max-width: 767px) {
  .carouselImage .slideActive {
    height: 255px;
  }
}
.carouselImage .slideActive img {
  object-fit: cover;
  width: 100%;
  height: 415px;
  border-radius: 25px;
}
@media (max-width: 767px) {
  .carouselImage .slideActive img {
    border-radius: 10px;
    height: 255px;
  }
}
.carouselImage .slideActive .slideNumber {
  color: #fff;
  position: absolute;
  bottom: 10px;
}
@media (max-width: 767px) {
  .carouselImage .slideActive .slideNumber {
    font-size: 12px;
  }
}

.ratingContainer {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: flex-end;
}
@media (max-width: 767px) {
  .ratingContainer {
    justify-content: flex-start;
  }
}
.ratingContainer span {
  height: 52px;
}
.ratingContainer img {
  display: flex;
  height: 24px;
}
@media (max-width: 1024px) {
  .ratingContainer img {
    height: 18px;
  }
}
@media (max-width: 767px) {
  .ratingContainer img {
    height: 14px;
  }
}

.profile_host {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #FF6060;
  gap: 10px;
}
.profile_host h3 {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  text-align: end;
  width: 70px;
}
@media (max-width: 767px) {
  .profile_host h3 {
    font-size: 12px;
  }
}
.profile_host img {
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 50%;
}
@media (max-width: 767px) {
  .profile_host img {
    width: 32px;
    height: 32px;
  }
}

.rentalTitle__tag {
  display: flex;
  gap: 10px;
  color: #fff;
  padding: 0;
}
.rentalTitle__tag li {
  background: #FF6060;
  border-radius: 10px;
  text-align: center;
  padding: 5px 30px;
  font-size: 14px;
  list-style-type: none;
}
@media (max-width: 1024px) {
  .rentalTitle__tag li {
    padding: 8px 21px;
    font-size: 13px;
  }
}
@media (max-width: 767px) {
  .rentalTitle__tag li {
    padding: 3px 15px;
    font-size: 10px;
    border-radius: 7px;
  }
}

#root {
  max-width: 1440px;
  margin: 0;
  background-color: #FFF;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  #root {
    max-width: 767px;
  }
}
#root main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 50px 100px;
}
@media (max-width: 767px) {
  #root main {
    margin: 19px 20px;
  }
}

header {
  margin: 45px 100px 0;
}
@media (max-width: 767px) {
  header {
    margin: 20px 20px 0;
  }
}
header .nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header .nav__logo {
  height: 68px;
  width: 211px;
}
@media (max-width: 767px) {
  header .nav__logo {
    height: 46px;
    width: 145px;
  }
}
header .nav__liste {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  box-sizing: border-box;
  margin: 0;
}
@media (max-width: 767px) {
  header .nav__liste {
    padding: 0;
  }
}
header .nav__liste li {
  list-style: none;
  box-sizing: content-box;
  flex: 50%;
  text-align: center;
  border-top: 2px solid transparent;
  display: flex;
  gap: 57px;
}
@media (max-width: 767px) {
  header .nav__liste li {
    gap: 26px;
  }
}
header .nav__liste li a {
  text-decoration: none;
  color: #FF6060;
  font-size: 24px;
}
@media (max-width: 767px) {
  header .nav__liste li a {
    font-size: 13px;
  }
}
@media (max-width: 767px) {
  header .nav__liste li a {
    font-size: 12px;
  }
}
header .nav__liste li a:hover, header .nav__liste li a :active {
  text-decoration: underline;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 66px;
  background-color: #000;
}
@media (max-width: 767px) {
  footer {
    font-size: 12px;
    padding: 60px 0;
    text-align: center;
  }
}
footer img {
  width: 122px;
  height: 40px;
}
footer p {
  color: #FFF;
  padding-bottom: 29px;
}
@media (max-width: 767px) {
  footer p {
    padding: 10px 122px;
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  row-gap: 50px;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: #F6F6F6;
  border-radius: 25px;
  padding: 56px 50px 43px 50px;
}
@media (max-width: 767px) {
  .gallery {
    flex-direction: column;
    gap: 20px;
    padding: 0;
    background-color: transparent;
  }
}
.gallery > li {
  box-sizing: border-box;
  object-fit: cover;
  margin: 0;
  width: 30%;
  list-style: none;
}
.gallery > li::after {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%) !important;
}
@media (max-width: 767px) {
  .gallery > li {
    width: 100%;
  }
}

.section_info {
  color: #FF6060;
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
@media (max-width: 767px) {
  .section_info {
    flex-direction: column;
    gap: 16px;
  }
}
.section_info .rentalTitle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.section_info .rentalTitle__detail {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.section_info .rentalTitle__detail h2 {
  color: #FF6060;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  font-weight: 500;
  font-size: 36px;
}
@media (max-width: 1024px) {
  .section_info .rentalTitle__detail h2 {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .section_info .rentalTitle__detail h2 {
    font-size: 18px;
  }
}
.section_info .rentalTitle__detail p {
  font-size: 18px;
  margin: 0;
}
@media (max-width: 1024px) {
  .section_info .rentalTitle__detail p {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .section_info .rentalTitle__detail p {
    font-size: 14px;
  }
}
.section_info .info_host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 27px;
  width: 20%;
  margin: 0;
}
@media (max-width: 767px) {
  .section_info .info_host {
    flex-direction: row-reverse;
    width: 100%;
    align-items: center;
    margin-bottom: 10px;
  }
}

.sectionCollapse {
  display: flex;
  gap: 76px;
}
@media (max-width: 1024px) {
  .sectionCollapse {
    gap: 40px;
  }
}
@media (max-width: 767px) {
  .sectionCollapse {
    flex-direction: column;
    gap: 20px;
  }
}
.sectionCollapse .description-container {
  width: 100%;
}
@media (max-width: 1024px) {
  .sectionCollapse .description-container {
    margin: 0;
    flex-direction: column;
    gap: 20px;
  }
}
@media (max-width: 767px) {
  .sectionCollapse .description-container {
    flex-direction: column;
    gap: 20px;
  }
}
.sectionCollapse .description-container h2 {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  border-radius: 5px;
  padding: 10px;
  z-index: 5;
}
@media (max-width: 1024px) {
  .sectionCollapse .description-container h2 {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .sectionCollapse .description-container h2 {
    font-size: 12px;
  }
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin: 0px 108px;
}
@media (max-width: 1024px) {
  .description {
    margin: 0 70px;
    gap: 20px;
  }
}
@media (max-width: 767px) {
  .description {
    margin: 0;
  }
}

.description-container {
  width: 100%;
}
.description-container h2 {
  color: #fff;
  font-size: 18px;
  padding: 12px;
  margin: 0;
  z-index: 5;
  position: absolute;
}
@media (max-width: 767px) {
  .description-container h2 {
    font-size: 13px;
    padding: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
