.mainContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 50px 100px;
}

.rentalTitle__detail h2{
    color: #FF6060;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.sectionCollapse {
    display: flex;
    flex-direction: wrap;
    gap: 76px;
}
.collapseApartment {
    display: flex;
    gap: 20px;
}
.collapse {
    width: 50%;
}
.section_info {
    color: #FF6060;
    display: flex;
    justify-content: space-between;
}
.rentalTitle__detail {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.rentalTitle__detail h2{
    font-size: 36px;
    margin: 0;
}
.rentalTitle__detail p{
    font-size: 18px;
    margin: 0;
}

.rentalTitle__tag {
    display: flex;
    gap: 10px;
    color: #fff;
    padding: 0;
    margin-bottom: 10px;
}

.rentalTitle__tag li{
    width: 115px;
    height: 25px;
    background: #FF6060;
    border-radius: 10px;
    text-align: center;
    padding-top: 5px;
    font-size: 14px;
    list-style-type: none;
}

.info_host {
    display: flex;
    flex-direction: column;
    gap: 55px;
    width: 20%;
    margin: 0;
}
.descriptionTitle {
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    padding: 12px;
    margin: 0;
    z-index: 5;
    position: absolute;

}
.description ul {
    margin: 0;
    padding: 0;
}
.description li {
    list-style: none;
}