.home {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 50px 100px;
}
.gallery {
    display: flex;
	flex-wrap: wrap;
    row-gap: 50px;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: #F6F6F6;
    border-radius: 25px;
    padding: 56px 50px  43px 50px;
}

.gallery li {
    box-sizing: border-box;
    object-fit: cover;
    margin: 0;
    width: 30%;
    list-style: none;
}