footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 66px;

}
footer img {
    width: 122px;
    height: 40px;

}
footer p {
    color: #fff;
    padding-bottom: 29px;
}