@use '../../sass/Utils/library' as *;

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 66px;
    background-color: $color-bg-footer;
    @include bp (mobile) {
        font-size: 12px;
        padding: 60px 0;
        text-align: center;
    }
    & img{
        width: 122px;
        height: 40px;
    }
    & p{
        color: $color-font-secondary;
        padding-bottom: 29px;
        @include bp (mobile) {
            padding: 10px 122px;
        }
    }
}